@charset "UTF-8";

@font-face {
  font-family: 'LeferiPoint';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff')
    format('woff');
  font-weight: 200;
}

@font-face {
  font-family: 'LeferiPoint';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackObliqueA.woff')
    format('woff');
  font-weight: 700;
}
